.site-header {
    background-color: rgb(65, 118, 144);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a, a{
    color: #c2c2c2;
    transition: ease-in-out color .15s;
    text-decoration: none;
  }
  .site-header a:hover, a:hover {
    color: #fff;
    text-decoration: none;
  }
.lan{
  margin-right: 20px;
}