{% extends 'base.html' %}

{%load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'record/main_page_styles.css' %}">
{% endblock css_styles %}

{% block title %}Main Page{% endblock title %}

{% block content %}

{% include 'record/includes/header.html' %}

<main role="main" style="margin-top: -5%;">

    <div class="position-relative overflow-hidden p-md-5 mb-3 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal">Phone Service</h1>
          <p class="lead font-weight-normal">We will repair and take care of your phone when it needs it.</p>
          {% if not user.is_authenticated %}
          <a class="btn btn-outline-secondary" href="{% url 'register' %}">Register Now!</a>
          {% endif %}
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
      </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Smartphone Battery Replacement</h2>
          <p class="lead">We specialize in providing top-quality smartphone battery replacement services. Is your phone's battery draining quickly or not holding a charge? Our expert technicians can swiftly replace your smartphone's battery with a brand new one, ensuring optimal performance and extended battery life. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="{%static 'record/img/battery.jpg'%}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">  
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Broken Screen Replacement</h2>
          <p class="lead">Cracked or shattered screens are no match for us. Our skilled technicians are proficient in replacing broken screens, restoring your smartphone's visual appeal and functionality. </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="featurette-image img-fluid mx-auto" src="{%static 'record/img/broken.jpg'%}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Lost Data Recovery</h2>
          <p class="lead">Accidentally deleted important files or experiencing data loss on your smartphone? Don't panic! We are here to help you recover your lost data. Our knowledgeable team utilizes advanced techniques and cutting-edge tools to retrieve your valuable photos, videos, contacts, and other files. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="{%static 'record/img/data.jpg'%}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for  location in locations %}
          <div class="col-lg-4">
            <h2>{{location.city}}</h2>
            <p>Street: {{location.street}} {{location.number}}</p>
            <p>Post Code: {{location.postcode}}</p>
            <p>Number: {{location.phone}}</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18906.129712753736!2d6.722624160288201!3d60.12672284414915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x463e997b1b6fc09d%3A0x6ee05405ec78a692!2sJ%C4%99zyk%20trola!5e0!3m2!1spl!2spl!4v1672239918130!5m2!1spl!2spl" width="200" height="200" style="border:0;border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div><!-- /.col-lg-4 -->
      {% endfor %}
      </div><!-- /.row -->

    </div><!-- /.container -->
  </main>

{% include 'record/includes/footer.html' %}

{% endblock content%}
