{% extends 'base.html' %}

{%load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'record\login_styles.css' %}">

{% endblock css_styles %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<form method="POST" novalidate>
	{% csrf_token %}

	
	<container class="d-flex justify-content-center align-items-center" style="height:100vh;">
	<section class="text-center text-lg-start w-50 row">
		<div class="back-color card mb-3 align-self-center">
		  <div class="row g-0 d-flex align-items-center">
			<div class="col-lg-4 d-none d-lg-flex">
			  <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
				class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
			</div>
			<div class="col-lg-8">
			  <div class="card-body py-5 px-md-5">
	  
				<form method="POST">
				  <!-- Email input -->
				  <div class="form-outline mb-4">
					{{form.email}}
					<label class="form-label" for="form2Example1">Email address</label>
				  </div>
	  
				  <!-- Password input -->
				  <div class="form-outline mb-4">
					{{form.password}}
					<label class="form-label" for="form2Example2">Password</label>
				  </div>
	  
				  <!-- Submit button -->
				  <button type="submit" class="btn btn-block mb-4">Sign in</button>
	  
				</form>
	  
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	</container> 
</form>

{% endblock content%}
