{% extends 'base.html' %}

{%load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'record/register_styles.css' %}">
{% endblock css_styles %}

{% block title %}Register{% endblock title %}

{% block content %}

{% include 'record/includes/header.html' %}

<section class="signup mt-5">
    <div class="register_container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">New Repair</h2>
                <form method="POST" class="register-form" id="register-form">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.start_date }}
                    </div>
                    <div class="form-group">
                        {{ form.service }}
                    </div>
                    <div class="form-group">
                        {{form.locations}}
                    </div>
                    <div class="form-group form-button" style="text-align: center">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'record/includes/footer.html' %}

{% endblock content%}
