{% extends 'base.html' %}

{%load static %}

{% block css_styles %}
<link rel="stylesheet" href="{% static 'record/user_styles.css' %}">
{% endblock css_styles %}

{% block title %}User{% endblock title %}

{% block content %}

{% include 'record/includes/header.html' %}
<div class="container mt-5 ">
    <div class="row">
        <div class="col-md-3">
            <div class="account-page-left shadow-sm h-100">
                <div class="border-bottom p-4">
                    <div class="user text-center">
                        <div class="user-media">
                            <div class="user-media-body">
                                <h6 class="mb-2">{{ client.first_name }} {{ client.last_name }}</h6>
                                <p class="mb-1">{{ client.phone }}</p>
                                <p>{{client.email}}</p>
                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> Edit Profile</a></p>
                                {% if client.is_superuser %}
                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#edit-profile-modal" href="#"><i class="icofont-ui-edit"></i> Admin Panel</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user text-center mt-5">
                    <div class="user-media">
                        <div class="user-media-body">
                            <h6 class="mb-2">Your Discount:</h6>
                            {% if discount.price__sum < 1000 %}
                                <h6 class="mb-2">0%</h6>
                            {% elif discount.price__sum >= 1000 and  discount.price__sum < 2000%}
                                <h6 class="mb-2">-10%</h6>
                            {% elif discount.price__sum >= 2000 and discount.price__sum < 3000 %}
                                <h6 class="mb-2">-20%</h6>
                            {% elif discount.price__sum >= 3000 and discount.price__sum < 4000 %}
                                <h6 class="mb-2">-30%</h6>
                            {% elif discount.price__sum >= 4000 %}
                                <h6 class="mb-2">-40%</h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="user text-center mt-5">
                    <div class="user-media">
                        <div class="user-media-body">
                            <h6 class="mb-2">Next Discount:</h6>
                            {% if to_discount != False %}
                                <h6 class="mb-2">{{to_discount}} &dollar;</h6>
                            {% endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="account-page-right shadow-sm p-4 h-100">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane  fade  active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <h4 class="font-weight-bold mt-0 mb-4">Past Orders</h4>
                                {% for record in records %}
                                    <div class=" card mb-4 order-list shadow-sm">
                                        <div class="gold-members p-4">
                                            <div class="media">
                                                <div class="media-body">
                                                    <span class="float-right text-info fs-3">{{ record.service.name }}<i class="icofont-check-circled text-success"></i></span>
                                                    <p class="text-gray mt-3 mb-1"><i class="icofont-list"></i><span class="fw-bold"> Order Number:</span> <span class="data-info">#{{ record.id }}</span><i class="icofont-clock-time ml-2"></i></p>
                                                    <p class="text-gray mb-1"><i class="icofont-location-arrow"></i><span class="fw-bold">Location:</span> <span class="data-info">{{ record.location}}</span></p>
                                                    <p class="text-dark mb-1"><span class="fw-bold">Repair time:</span> <span class="data-info">{{ record.start_date }} - {{ record.deadline }}</span></p>
                                                    <p class="text-dark"><span class="fw-bold">Status:</span>
                                                        {% if record.status %}
                                                            <span class="text-success">Repair has done!</span>
                                                        {% else %}
                                                            <span class="text-danger">On Going!</span>
                                                        {% endif %}
                                                    </p>
                                                    <p class="mb-0 text-black text-primary pt-2 fs-5"><span class="text-black font-weight-bold"><span class="fw-bold">Total Paid: </span></span><span class="data-info">{{ record.price }}&dollar;</span></p>
                                                    <hr>
                                                    <div class="float-right">
                                                        <a class="btn btn-sm btn-primary" href="#"><i class="icofont-refresh"></i> DETAILS</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'record/includes/footer.html' %}

{% endblock content%}
