<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block text-decoration-none" href="{% url 'index' %}">Home</a>
      <a class="py-2 d-none d-md-inline-block text-decoration-none" href="{% url 'pricing' %}">Pricing</a>
      {% if user.is_authenticated %}
        <a class="py-2 d-none d-md-inline-block text-decoration-none" href="{% url 'new-record' %}">New Repair</a>
        <a class="py-2 d-none d-md-inline-block text-decoration-none" href="{% url 'user' %}">Account</a>
        <a class="py-2 d-none d-md-inline-block text-decoration-none" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="py-2 d-none d-md-inline-block text-decoration-none" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
 </nav>
